@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var name = "Karl Tacula";
    var email = "karl.tacula.cics@ust.edu.ph";
    var age = 20;
    var likes = "Games, Bikes, Anime, Horror Movies";
}
<h1>About me</h1>
<img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/373058999_193080100349451_4982621113695051535_n.png?stp=dst-png_p206x206&_nc_cat=102&ccb=1-7&_nc_sid=aee45a&_nc_ohc=6Yl8UyKWpO0AX8xlcdN&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdRYU-lTuSgTiEMWxhlDTE2jWNbfpGWS1mEUZ9qP6kPobA&oe=651E211B" alt="Girl in a jacket" width="500" height="600">
<h2>Name: @name</h2>
<h3> Age: @age years old</h3>
<P>Likes:@likes</P>
<p>Email:@email</p>